:root {
  --color-nutgmeg-300: hsl(14, 45%, 36%);
  --color-rasberry-500: hsl(332, 51%, 32%);
  --color-white-700: hsl(0, 0%, 100%);
  --color-rose-white-300: hsl(330, 100%, 98%);
  --color-eggshell-400: hsl(30, 54%, 90%);
  --color-light-grey-300: hsl(30, 18%, 87%);
  --color-wenge-brown-500: hsl(30, 10%, 34%);
  --color-dark-charcoal-400: hsl(24, 5%, 18%);
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background-color: var(--color-eggshell-400);
  width: 700px;
  margin-bottom: 20px;
}

main {
  background-color: var(--color-white-700);
  margin-top: 200px;
  border-radius: 20px;
  padding-left: 30px;
}

.image-container {
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
}

img {
  width: 640px;
  object-fit: cover;
  border-radius: 15px;
}

h1 {
  font-family: "Young Serif";
  font-weight: 400;
  color: var(--color-dark-charcoal-400);
  margin: 0;
}

.description {
  font-family: "Outfit";
  font-weight: 400;
  color: var(--color-dark-charcoal-400);
  line-height: 24px;
}

.preparation {
  background-color: var(--color-rose-white-300);
  font-family: "Outfit";
  margin: 30px 0;
  padding: 20px;
  width: 600px;
  border-radius: 12px;
}

.preparation h2 {
  font-weight: 700;
  color: var(--color-rasberry-500);
  margin: 0;
  padding: 10px 10px;
}

.preparation-list {
  margin: 0;
  padding-left: 30px;
  line-height: 32px;
  color: var(--color-dark-charcoal-400);
}

.preparation-list li::before {
  content: "";
  margin-right: 22px;
}

.preparation-list li::marker {
  color: var(--color-rasberry-500);
}

h3 {
  font-size: 32px;
  font-family: "Young Serif";
  color: var(--color-nutgmeg-300);
  font-weight: 400;
}

.ingredients-used h3 {
  margin: 20px 0;
}

.ingredients-used ul {
  padding-left: 24px;
  color: var(--color-dark-charcoal-400);
}

.ingredients-used li {
  font-family: "Outfit";
  line-height: 32px;
  padding: 0;
}

.ingredients-used li::marker {
  color: var(--color-rasberry-500);
}

.ingredients-used li::before {
  content: "";
  margin-right: 22px;
}

.first-table {
width: 640px;
}

.instructions-table {
    border-collapse: collapse;
    border-top: 0.8px solid #a6a8aa;
    border-bottom: 0.8px solid #a6a8aa;

.instructions-table h3 {
    margin: 20px 0;
}

.attribution {

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
